<section id="public">
    <h2 class="title-public">Inspeção Pública de Ponto</h2>
    <p-toast [autoZIndex]="true"></p-toast>
    <div class="container grid">
        <div class="col-6">
            <div class="grid controls">
                <div class="field col">
                    <p-dropdown  [style]="{width: '100%'}" [(ngModel)]="selectedMosaic"  [filter]="true" appendTo="body" id="basemaps" inputId="basemaps" [placeholder]="'Selecione o mosaico'" [options]="planetMosaics" (onChange)="changeMosaic($event)" optionLabel="name" optionValue="_links.tiles"></p-dropdown>
                </div>
                <div class="field col">
                    <p-calendar appendTo="body" id="start" [placeholder]="'Data início'" [minDate]="minDateValue"  [maxDate]="maxDateValue" inputId="start" [(ngModel)]="startDate" [showIcon]="true"></p-calendar>
                    <small id="start-required" class="p-error"  *ngIf="submitted && startDate === ''">A data de início é obrigatória!</small>
                </div>
                <div class="field col">
                    <p-calendar [placeholder]="'Data fim'" appendTo="body" id="end" inputId="end" [minDate]="minDateValue" [maxDate]="maxDateValue" [(ngModel)]="endDate" [showIcon]="true"></p-calendar>
                    <small id="end-required" class="p-error"  *ngIf="submitted && endDate === ''">A data de fim é obrigatória!</small>
                </div>
            </div>
            <div *ngIf="mosaicsLayers" style="height: 60vh"
                 id="pivot"
                 leaflet
                 [leafletLayersControl]="layersControl"
                 [leafletOptions]="optionsMoisaicMap"
                 [leafletLayers]="mosaicsLayers"
                 [leafletFitBounds]="pointBounds"
                 (leafletClick)="onClick($event)"
                 (leafletMapReady)="mapReady($event)"
            >
                <div  class="info">
                    <button  pTooltip="Inserir ponto" pButton pRipple  icon="pi pi-map-marker" class="p-button-success" (click)="openFormPoint($event)"></button>
                    <button *ngIf="pointInfo"  pTooltip="Visualizar Informações do ponto" pButton pRipple  icon="pi pi-info-circle" class="p-button-info mt-2" (click)="onShowPointInfo($event)"></button>
                </div>

            </div>
        </div>
        <div *ngIf="pointTimeSeries" class="chart col">
            <app-timeseries *ngIf="pointTimeSeries" [tsData]="pointTimeSeries"></app-timeseries>
        </div>
    </div>
    <p-dialog [(visible)]="showPointDialog" [style]="{width: '50%', heigth: '50%'}" header="Dados do ponto selecionado" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="point-info-clicked grid pt-3" *ngIf="pointInfo">
                <small class="col card" *ngIf="pointInfo.geocodigo != ''">Geocódigo: <b>{{pointInfo.geocodigo}}</b></small>
                <small class="col card" *ngIf="pointInfo.municipio != ''">Município: <b>{{pointInfo.municipio}} - {{pointInfo.uf}}</b></small>
                <small class="col card" *ngIf="pointInfo.bioma != ''">Bioma: <b>{{pointInfo.bioma}}</b></small>
            </div>
            <h5 *ngIf="carPointInfo.length > 0" class="mt-4 mb-2">Cadastro Ambiental Rural – CAR</h5>
            <div *ngIf="carPointInfo.length > 0" class="card pt-3 card-info">
                <p-table [value]="carPointInfo" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Código</th>
                            <th>Data de Referência</th>
                            <th>Tipo do Imóvel</th>
                            <th>Área</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-car>
                        <tr>
                            <td>{{car.cod_car}}</td>
                            <td>{{car.data_ref}}</td>
                            <td>{{car.tipo_imove}}</td>
                            <td>{{car.area_ha |  number:'1.2-2'}} ha</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="showFormPoint" [style]="{width: '30%'}" header="Inserir ponto para inspeção" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <form class="form-signup" [formGroup]="formPoint" (ngSubmit)="searchPoint()">
                <span class="p-input-icon-left mb-3" [ngClass]="displayContainerFieldCss('lon')">
                    <i class="pi pi-map-marker"></i>
                    <input type="number" pInputText placeholder="Longitude" [ngClass]="displayFieldCss('lon')" formControlName="lon" autocomplete="on" />
                    <small id="email-invalid" class="p-error" *ngIf="isFieldValid('lon')">A Longitude é obrigatória!</small>
                </span>
                    <span class="p-input-icon-left mb-6" [ngClass]="displayContainerFieldCss('lat')">
                    <i class="pi pi-map-marker"></i>
                    <input type="number" pInputText  placeholder="Latitude" [ngClass]="displayFieldCss('lat')" formControlName="lat" autocomplete="on" />
                    <small id="password-required" class="p-error" *ngIf="isFieldValid('lat')">A Latitude é obrigatória!</small>
                </span>
                <button [disabled]="!formPoint.valid" type="submit" pButton label="Inspecionar"></button>
            </form>
        </ng-template>
    </p-dialog>
</section>
