<section id="public">
    <h2 class="title-public">Serie Temporal Sentinel</h2>
    <p-toast [autoZIndex]="true"></p-toast>
    <div class="container grid card">
        <div class="col">

            <div class="grid controls">
                <div class="field ml-4">
                    <p-dropdown  [style]="{width: '100%'}" [(ngModel)]="selectedMosaic"  [filter]="true" appendTo="body" id="basemaps" inputId="basemaps" [placeholder]="'Selecione o mosaico'" [options]="planetMosaics" (onChange)="changeMosaic($event)" optionLabel="name" optionValue="_links.tiles"></p-dropdown>
                </div>
                <div class="field ml-2 mr-2">
                    <p-calendar appendTo="body" id="start" [placeholder]="'Data início'" [minDate]="minDateValue"  [maxDate]="maxDateValue" inputId="start" [(ngModel)]="startDate" [showIcon]="true"></p-calendar>
                    <small id="start-required" class="p-error"  *ngIf="submitted && startDate === ''">A data de início é obrigatória!</small>
                </div>
                <div class="field">
                    <p-calendar [placeholder]="'Data fim'" appendTo="body" id="end" inputId="end" [minDate]="minDateValue" [maxDate]="maxDateValue" [(ngModel)]="endDate" [showIcon]="true"></p-calendar>
                    <small id="end-required" class="p-error"  *ngIf="submitted && endDate === ''">A data de fim é obrigatória!</small>
                </div>
                <div class="field">
                    <p-inputSwitch *ngIf="pointInfo" pTooltip="Visualizar Informações do ponto"  [(ngModel)]="showPointDialog"></p-inputSwitch>
                </div>
            </div>
            <div *ngIf="mosaicsLayers" style="height: 60vh"
                 id="pivot"
                 leaflet
                 [leafletLayersControl]="layersControl"
                 [leafletOptions]="optionsMoisaicMap"
                 [leafletLayers]="mosaicsLayers"
                 [leafletFitBounds]="pointBounds"
                 (leafletClick)="onClick($event)"
            >
            </div>
        </div>
        <div *ngIf="pointTimeSeries" class="col chart">
            <app-timeseries [tsData]="pointTimeSeries"></app-timeseries>
        </div>
    </div>
    <p-dialog [(visible)]="showPointDialog" [style]="{width: '50%', heigth: '50%'}" header="Dados do ponto selecionado" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <p-progressBar [hidden]="pointInfo" mode="indeterminate"></p-progressBar>
            <div class="point-info-clicked grid" *ngIf="pointInfo">
                <small class="col card" *ngIf="pointInfo.geocodigo != ''">Geocódigo: <b>{{pointInfo.geocodigo}}</b></small>
                <small class="col card" *ngIf="pointInfo.municipio != ''">Município: <b>{{pointInfo.municipio}}</b></small>
                <small class="col card" *ngIf="pointInfo.estado != ''">Estado: <b>{{pointInfo.estado}}</b></small>
                <small class="col card" *ngIf="pointInfo.bioma != ''">Bioma: <b>{{pointInfo.bioma}}</b></small>
            </div>
        </ng-template>
    </p-dialog>
</section>
