#public{
    padding: 4rem;
}

.point-info{
    margin-top: 10px;
    small{
        margin: 2px;
        font-size: 14px !important;
    }
}
.controls{
    //align-items: center;
    //justify-content: space-around;
}

.point-info-clicked{
    display: flex;
    justify-content: space-evenly;
    small{
        font-size: 14px;
        margin: 2px;
    }
}

.container{
    height: 80vh;
    //max-width: 98%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.title-public{
    text-align: center;
}

.has-error {
    i {
        top: 35%;
    }
}
.info{
    position: absolute;
    z-index: 1000;
    padding: 5px;
    top: 58px;
    right: 7px;
    display: flex;
    flex-direction: column;
}
