:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

@media screen and (max-width: 960px) {
    :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td:last-child {
        text-align: center;
    }

    :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td:nth-child(6) {
        display: flex;
    }
}

:host ::ng-deep .p-dialog .warn {
    color: #ff9f42;
}

:host ::ng-deep .file{
    .p-button.p-button-icon-only {
     width: 3rem;
    }
}

.card-info{
    min-width: 40%;
}

.btn-table-actions {
    button{
        margin: 10px;
    }
}
.header-inspection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campaign-title{
    text-align: center;
}

.point-description{
    text-align: center;
}
.chart{
    height: 10vh;
    h4{
        text-align: center;
    }
}
.point-info{
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;
    margin-top: 10px;
    small{
        margin: 2px;
        font-size: 14px !important;
    }
}

.point-info-clicked{
    display: flex;
    justify-content: space-evenly;
    small{
        font-size: 14px;
        margin: 2px;
    }
}
