<div class="grid">
    <div class="col-12">
        <p-toast [autoZIndex]="true"></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Adicionar" icon="pi pi-plus"
                            class="p-button-text p-button-success mr-2 mb-2" (click)="openNew()"></button>
                    <button pButton pRipple label="Remover em lote" icon="pi pi-trash"
                            class="p-button-text p-button-danger mb-2" (click)="deleteSelectedCampaigns()"
                            [disabled]="!selectedCampaigns || !selectedCampaigns.length"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help mb-2"
                            (click)="dt.exportCSV({name: 'campaign.csv'})"></button>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="campaigns" [columns]="cols" [rows]="10" [paginator]="true"
                     [globalFilterFields]="['name','description']"
                     [(selection)]="selectedCampaigns" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Exibindo {first} até {last} de {totalRecords} regsitros"
                     [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex p-flex-column md:flex-row md:justify-content-between table-header">
                        <h5 class="m-0">Campanhas</h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                               placeholder="Pesquisar..."/>
                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">Nome
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">Descrição
                            <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="createdAt">Criado em
                            <p-sortIcon field="createdAt"></p-sortIcon>
                        </th>
                        <th pSortableColumn="updatedAt">Atualizado em
                            <p-sortIcon field="updatedAt"></p-sortIcon>
                        </th>
                        <th pSortableColumn="updatedAt">Ações
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-campaign>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="campaign"></p-tableCheckbox>
                        </td>
                        <td><span class="p-column-title">Nome</span>
                            {{campaign.name}}
                        </td>
                        <td><span class="p-column-title">Início</span>
                            {{campaign.description}}
                        </td>
                        <td><span class="p-column-title">Criado em </span>
                            {{campaign.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}
                        </td>
                        <td><span class="p-column-title">Atualizado em </span>
                            {{campaign.updatedAt | date: 'dd/MM/yyyy HH:mm:ss'}}
                        </td>
                        <td class="btn-table-actions">
                            <button pButton pRipple pTooltip="Inspecionar" icon="pi pi-search"
                                    class="mt-5 p-button-rounded p-button-info"
                                    (click)="inspectCampaign(campaign)"></button>
                            <button pButton pRipple pTooltip="Editar" icon="pi pi-pencil"
                                    class="p-button-rounded p-button-warning mr-2"
                                    (click)="editCampaign(campaign)"></button>
                            <button pButton pRipple pTooltip="Remover" icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger"
                                    (click)="deleteCampaign(campaign)"></button>
                            <button *ngIf="campaign.inspections.length > 0" pButton pRipple pTooltip="Baixar SHP do Pontos Inpecionados" icon="pi pi-file"
                                    class="p-button-rounded p-button-success"
                                    (click)="exportSHP(campaign)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        No total existem {{campaigns ? campaigns.length : 0 }} campanhas.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="campaignDialog" [style]="{width: '90%'}" header="Detalhes da Campanha" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <div class="formgrid grid">
                        <div class="field col-4">
                            <label for="name">Nome</label>
                            <input type="text" pInputText id="name" [ngClass]="displayFieldCss('name')"
                                   [(ngModel)]="campaign.name"/>
                            <small class="p-error" *ngIf="submitted && campaign.name === ''">O nome da campanha é
                                obrigatório!</small>
                        </div>
                        <div class="field col-4">
                            <label for="classesId">Classes</label>
                            <p-multiSelect id="classesId" inputId="classesId" [options]="classes"
                                           [(ngModel)]="campaign.classes" optionLabel="name"
                                           [filter]="true"></p-multiSelect>
                        </div>
                        <div class="field col-4">
                            <label for="safrasId">Safras</label>
                            <p-multiSelect id="safrasId" inputId="safrasId" [options]="harvests"
                                           [(ngModel)]="campaign.harvests" optionLabel="name"
                                           [filter]="true"></p-multiSelect>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="description">Descrição</label>
                    <textarea id="description" type="text" rows="5" pInputTextarea
                              [ngClass]="displayFieldCss('description')" [(ngModel)]="campaign.description"></textarea>
                </div>
                <div class="field file">
                    <p-fileUpload chooseLabel="Escolha o arquivo CSV com os pontos da Campanha"
                                  [auto]="true"
                                  [showUploadButton]="true"
                                  [cancelIcon]="'pi-trash'"
                                  accept="text/csv" [customUpload]="true"
                                  (uploadHandler)="onUploadPoints($event)"
                                  (onRemove)="clearMap()"
                                  (onClear)="clearMap()"
                    ></p-fileUpload>
                </div>
                <div class="grid">
                    <div *ngIf="points.length > 0" class="field col-4">
                        <div style="height: 500px;"
                             id="pivots"
                             leaflet
                             [leafletOptions]="options"
                             [leafletLayers]="mapPoints"
                             (leafletMapReady)="onMapReady($event)">
                        </div>
                    </div>
                    <div *ngIf="points.length > 0" class="field col-8">
                        <p-table #dtPoint [value]="points" [columns]="colsTablePoints" [rows]="10" [paginator]="true"
                                 [globalFilterFields]="['lat','lon','description']" [rowHover]="true" dataKey="id"
                                 styleClass="p-datatable-customers"
                                 currentPageReportTemplate="Exibindo {first} até {last} de {totalRecords} regsitros"
                                 [showCurrentPageReport]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="lat">Latitude
                                        <p-sortIcon field="lat"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="lon">Longitude
                                        <p-sortIcon field="lon"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="description">Descrição
                                        <p-sortIcon field="description"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-point>
                                <tr>
                                    <td><span class="p-column-title">Latitude</span>
                                        {{point.lat}}
                                    </td>
                                    <td><span class="p-column-title">Longitude</span>
                                        {{point.lon}}
                                    </td>
                                    <td><span class="p-column-title">Descrição</span>
                                        {{point.description}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="mt-5 p-button-danger"
                        (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="mt-5 p-button-success"
                        (click)="saveCamapaign()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="campaignInspectionDialog" [style]="{width: '99%', heigth: '100%'}" header="Inspeção da Campanha" [modal]="true" styleClass="p-fluid">
            <p-toast [key]="'inspection'"></p-toast>
            <ng-template pTemplate="content">
                <div *ngIf="carPointInfo.length > 0" class="header-inspection">
                    <button (click)="back()" pButton type="button" icon="pi pi-angle-left"
                            class="p-button-outlined p-button-rounded p-button-plain p-button-sm font-bold mr-2 p-2 w-4rem h-4rem"></button>
                    <div class="card pt-3 card-info">
                        <div class="campaign-title">
                            <h4>{{campaign.name}}</h4>
                        </div>
                        <div class="point-description">
                            <p>Ponto: <b>{{currentPoint + 1}} / {{campaign.points.length}}</b> {{campaign.points[currentPoint].lat}}, {{campaign.points[currentPoint].lon}}</p>
                            <small *ngIf="campaign.points[currentPoint].description != ''">Descrição: <b>{{campaign.points[currentPoint].description}}</b></small>
                            <p-progressBar [hidden]="pointInfo" mode="indeterminate"></p-progressBar>
                            <div class="point-info grid" *ngIf="pointInfo">
                                <small class="col" *ngIf="pointInfo.geocodigo != ''">Geocódigo<br> <b>{{pointInfo.geocodigo}}</b></small>
                                <small class="col" *ngIf="pointInfo.municipio != ''">Município<br> <b>{{pointInfo.municipio}} - {{pointInfo.uf}}</b></small><br>
                                <small class="col" *ngIf="pointInfo.bioma != ''">Bioma<br><b>{{pointInfo.bioma}}</b></small>
                                <small class="col" *ngIf="carPointInfo.length > 0">
                                    <p-inputSwitch pTooltip="Visualizar Informações do CAR para ponto corrente"  [(ngModel)]="showCarInfo"></p-inputSwitch>
                                    <br>Informações do CAR
                                </small>

                            </div>
                        </div>
                    </div>
                    <div *ngIf="showCarInfo" class="card pt-3 card-info">
                        <p-table [value]="carPointInfo" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Código</th>
                                    <th>Data de Referência</th>
                                    <th>Tipo do Imóvel</th>
                                    <th>Área</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-car>
                                <tr>
                                    <td>{{car.cod_car}}</td>
                                    <td>{{car.data_ref}}</td>
                                    <td>{{car.tipo_imove}}</td>
                                    <td>{{car.area_ha |  number:'1.2-2'}} ha</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <button (click)="next()" pButton type="button" icon="pi pi-angle-right" class="p-button-outlined p-button-rounded p-button-plain p-button-sm font-bold mr-2 p-2 w-4rem h-4rem">
                    </button>
                </div>
                <div class="grid">
                    <div class="col-5">
                        <div class="grid">
                            <div class="col-4">
                                <h4>Safras</h4>
                                <div class="field" *ngFor="let harvest of campaign.harvests">
                                    <label for="safra{{harvest.id}}">{{harvest.name}}</label>
                                    <p-dropdown [placeholder]="'Selecione a classe'" [(ngModel)]="harvest.selected" appendTo="body" id="safra{{harvest.id}}" inputId="safra{{harvest.id}}" [options]="campaign.classes"
                                                (onChange)="setClass($event,harvest)"  optionLabel="name" optionValue="id"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-8">
                                <h4>Mosaicos Planet</h4>
                                <div class="field ">
                                    <p-dropdown [filter]="true" appendTo="body" id="basemaps" inputId="basemaps" [placeholder]="'Selecione o mosaico'" [options]="planetMosaics" (onChange)="changeMosaic($event)" optionLabel="name" optionValue="_links.tiles"></p-dropdown>
                                </div>
                                <div *ngIf="mosaicsLayers" style="height: 51.6vh;"
                                     id="pivot"
                                     leaflet
                                     [leafletLayersControl]="layersControl"
                                     [leafletOptions]="optionsMoisaicMap"
                                     [leafletLayers]="mosaicsLayers"
                                     [leafletFitBounds]="pointBounds"
                                     (leafletClick)="onClick($event)"
                                     (leafletMapReady)="onMapReady($event)"
                                >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 chart">
                        <app-timeseries [tsData]="{lon: parse(campaign.points[currentPoint].lon), lat: parse(campaign.points[currentPoint].lat), startDate: startDate, endDate: endDate}"></app-timeseries>
                    </div>
                </div>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="showTimeSeries" [style]="{width: '60%', heigth: '100%'}" header="Serie Temporal" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <p-progressBar [hidden]="pointInfoClicked" mode="indeterminate"></p-progressBar>
                <div class="point-info-clicked card" *ngIf="pointInfoClicked">
                    <small *ngIf="pointInfoClicked.geocodigo != ''">Geocódigo: <b>{{pointInfoClicked.geocodigo}}</b></small>
                    <small *ngIf="pointInfoClicked.municipio != ''">Município: <b>{{pointInfoClicked.municipio}}</b></small>
                    <small *ngIf="pointInfoClicked.estado != ''">Estado: <b>{{pointInfoClicked.estado}}</b></small>
                    <small *ngIf="pointInfoClicked.regiao != ''">Região: <b>{{pointInfoClicked.regiao}}</b></small>
                    <small *ngIf="pointInfoClicked.bioma != ''">Bioma: <b>{{pointInfoClicked.bioma}}</b></small>
                </div>
                <app-timeseries [tsData]="pointTimeSeries"></app-timeseries>
            </ng-template>
        </p-dialog>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
